<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ruangong.mapper.academymapper">
    <select id="findbytype" resultType="com.example.ruangong.entity.Academy">
        select *
        from academy
        where academy_type=#{type}
    </select>
    <select id="findnum" resultType="int">
        select count(*)
        from academy
        where academy_type=#{type}
    </select>
    <select id="find" resultType="com.example.ruangong.entity.Academy">
        select *
        from academy
    </select>
    <select id="findbyid" resultType="com.example.ruangong.entity.Academy">
        select *
        from academy
        where id between #{min} and #{max}
    </select>
    <select id="findnumber" resultType="int">
        select count(*)
        from academy
    </select>
    <delete id="delete">
        delete from academy where id=#{id}
    </delete>
</mapper>