<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ruangong.mapper.achievementmapper">
    <select id="find" resultType="com.example.ruangong.entity.Achievement">
        select *
        from achievement
        where id=#{id}
    </select>
    <select id="find_all" resultType="int">
        select count(*)
        from achievement
    </select>
    <select id="find_by_type" resultType="com.example.ruangong.entity.Achievement">
        select *
        from achievement where achievement_type=#{type}
    </select>
    <select id="find_num" resultType="int">
        select count(*)
        from achievement where achievement_type=#{type}
    </select>
</mapper>