<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ruangong.mapper.eventmapper">
    <select id="findbyid" resultType="com.example.ruangong.entity.LifeEvent">
        select *
        from lifeevent
        where id between #{min} and #{max}
    </select>
    <select id="findbystage" resultType="com.example.ruangong.entity.LifeEvent">
        select *
        from lifeevent
        where stage_id =#{stage}
    </select>
    <select id="findid" resultType="com.example.ruangong.entity.LifeEvent">
        select *
        from lifeevent
        where id =#{id}
    </select>
</mapper>