<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ruangong.mapper.talentmapper">
    <select id="find" resultType="com.example.ruangong.entity.Talent">
        select *
        from talent
    </select>
    <select id="findbyid" resultType="com.example.ruangong.entity.Talent">
        select *
        from talent
        where id between #{min} and #{max}
    </select>
    <select id="findnumber" resultType="int">
        select count(*)
        from talent
    </select>
    <delete id="delete">
        delete from talent where id=#{id}
    </delete>
</mapper>