<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ruangong.mapper.usermapper">
    <insert id="insert">
        insert into user(createTime) values(#{createtime})
    </insert>
    <select id="find" resultType="com.example.ruangong.entity.User">
        select id from user where creaTetime=#{createtime}
    </select>
</mapper>